<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
    <title>Add Msg</title>
</head>
<style>
    body {background-color:#f4feff}
</style>
<body>
<div th:replace="znav :: header"></div>
<H1>Add Message</H1>


<div align="center">

    <form action="#" th:action="@{/processing}"
          th:object="${bullhorn}" method="post">
        <input type="hidden" th:field="*{id}"/>
        <strong>
            Posted By:<input type="text" th:field="*{bigname}"/>
            <span th:if="${#fields.hasErrors('bigname')}"
                  th:errors="*{bigname}"></span><br/>

            Message:<span th:if="${#fields.hasErrors('msg')}"
                          th:errors="*{msg}">Msg Error</span>
            <textarea id="msg" placeholder="Type a message"
                      th:field="*{msg}"
                      row="3"/><br/>

            Date:<input type="date" th:field="*{birthday}"/>
            <span th:if="${#fields.hasErrors('birthday')}"
                  th:errors="*{birthday}"></span><br/>
        </strong>
        <button type="submit" class="btn bnt-default">Submit</button>
    </form>
</div>
</body>
</html>