<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>


    <title>Title</title>
</head>
<style>
    body {background-color:#f4feff}
</style>
<body>

<div align="center">

    <div sec:authorize="isAuthenticated()">
        <div th:replace="znav :: header"></div>

        <h2>Bullhorn</h2>

    <table class="table">

        <tr th:each="bullhorn : ${bullhorns}">

            <td th:text="${bullhorn.msg}"></td>
            <Strong>
                <td th:text="${bullhorn.bigname}"></td>
                <td th:text="${bullhorn.birthday}"></td>
                <td> <a th:href="@{profile/{id}(id=${bullhorn.username})}">Profile</a></td>
            </Strong>
        </tr>
        <strong><tr>Messages</tr>
            <tr> /Posted By</tr>
            <tr> /Date</tr></strong>
    </table>

    <a href="/add">Add Message</a>

    </div>

    <div sec:authorize="isAnonymous()">
        <p>






        </p>
        <h2>Welcome to Bullhorn messaging board</h2>
        <p>

        This is a demo social media platform, created to show an understanding of Spring Framework.

        <form action="/add">
            <input type="submit" class="btn btn-outline-success" value="Lets Get Started" />
        </form>
        </p>
    </div>

</div>
</body>
</html>