<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org"
      xmlns:sec="www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="x-ua-compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width,initial-scale=2"/>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
    <title>Spring Security Example</title>
</head>
<style>
    body {background-color:#f4feff}
</style>
<body>
<div th:replace="znav :: loginheader"></div>
<div align="center">

    <h1> Login</h1>
    <p></p>

    <div th:if="${param.error}">Invalid username and password</div>
    <div th:if="${param.logout}">You have been logged out.</div>
    <form th:action="@{/login}" method="post">
        <strong>
            <div>
                <labe>User Name: <input type="text" name="username"/></labe>
            </div>
            <div><label>Password: <input type="password" name="password"/></label></div>
        </strong>
        <div><input type="submit" value="Sign In"/></div>
        <a href="/register">Dont have an account yet?</a>

    </form>
</div>
</body>
</html>