<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
    <title>Title</title>
</head>
<body>
<style>
    body {background-color:#f4feff}
</style>
<div th:replace="znav :: header"></div>
<div align="center">
    <h4>
        New User Registration
    </h4>
    <form autocomplete="off" action="#" th:action="@{/register}" th:object="${user}" method="post">
        <strong>
            First Name
            <mark><strong><span th:if="${#fields.hasErrors('firstName')}"
                                th:errors="*{firstName}"> First Name Error</span></strong></mark>
            <input type="text" id="firstName" placeholder="First Name" th:field="*{firstName}"/><br/>

            Last Name
            <mark><strong><span th:if="${#fields.hasErrors('lastName')}"
                                th:errors="*{lastName}"> Last Name Error</span></strong></mark>
            <input type="text" id="lastName" placeholder="Last Name" th:field="*{lastName}"/><br/>

            Email
            <mark><strong><span th:if="${#fields.hasErrors('email')}"
                                th:errors="*{email}"> Email Error</span></strong></mark>
            <input type="text" id="email" placeholder="email" th:field="*{email}"/><br/>

            UserName
            <mark><strong><span th:if="${#fields.hasErrors('username')}"
                                th:errors="*{username}"> UserName Error</span><br/></strong></mark>
            <input type="text" id="username" placeholder="UserName" th:field="*{username}"/><br/>

            Password
            <mark><strong><span th:if="${#fields.hasErrors('password')}"
                                th:errors="*{password}"> First Name Error</span><br/></strong></mark>
            <input type="text" id="password" placeholder="Password" th:field="*{password}"/><br/>
        </strong>
        <button type="submit" class="btn btn-default">Submit</button>

    </form>
</div>
</body>
</html>